div.job-reference-wrapper{
	margin-top:20px;
	font-size:1.1em;
	background:#eeeeee;
	padding:20px 0;
}

div.job-reference-wrapper .input label{
	float: left;
    line-height: 31px;
    margin: 1px 17px 0 0;
    text-align: right;
    width: 345px;
}

div.job-reference-wrapper .input input{
	border: 1px solid #A7A9AC;
	height: 28px;
    padding: 0 8px;
    width: 420px;
}
.required span {
    color: #E8202A;
}
