.required-text {
    margin: 7px 0 15px 5px;
}
.required-text span {
    color: #E8202A;
}

form fieldset{
	 padding-top: 56px;
}
form div.input.required label span {
    color: #E8202A;
    position: absolute;
}

form div.input-text label, 
form div.input-select label, 
form div.input-textarea label, 
form div.input-readonly div.label {
    float: left;
    line-height: 31px;
    margin: 1px 17px 0 173px;
    text-align: left;
}
form div.input-checkbox {
    margin-top: 1.3em;
    padding-left: 187px;
}
form .select{
	line-height:33px;
}
.info-text {
    font-size: 0.8em;
    line-height: 118%;
    margin: -4px 0 19px;
    padding: 0 0 0 173px;
    width: 231px;
}
.input-readonly .field{
	line-height:33px;
	
}
form div.input-text input, 
form div.input-textarea textarea 
{
	 margin: 1px 17px 0 173px;
}
